# MItamae
bin/mitamae*

# Mac
.DS_Store
*~
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
._*
.netrwhist
.git/*
tags
dump.rdb

# vim
*.swp

# archives
*.zip
*.lzh
*.tar.gz
*.tgz
*.bz2
*.dmg

# exectables
*.exe
*.out
*.app

# Backup
*.bak
